@page
@model CheckSPNs.Client.Pages.Errors._403Model
@{
    ViewData["Title"] = "Unauthorization";
    Layout = "/Pages/Shared/_404Layout.cshtml";
}

<img src="https://tracuuso.com/images/404_1.png">
<p>Bạn không có quyền truy cập!</p>
<a href="/" class="btn">Về trang chủ  </a>
