@page
@model CheckSPNs.Client.Pages.Errors._404Model
@{
    ViewData["Title"] = "No such page";
    Layout = "/Pages/Shared/_404Layout.cshtml";
}

<img src="https://tracuuso.com/images/404_1.png">
<p>Đang nâng cấp chức năng này ! Mời bạn quay lại sau</p>
<a href="/" class="btn">Về trang chủ  </a>