<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/client/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="error-page-container">
        <div class="error-page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
